langchain>=1.0
langchain-core
langchain-google-genai
python-dotenv
langchain-community
beautifulsoup4
langchain-text-splitters
pinecone
rank-bm25
fastapi
uvicorn
httpx
pydantic
langchain-groq
langchain-openrouter
langchain-openai
pypdf
pymupdf
pytesseract